*{
    padding: 0;
    margin: 0;
}

/*----------header-section----------*/
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #e554731e;
    background-position: center;
    background-size: cover;
}
.text-container {
    width: 40%;
    padding-left: 110px;
}
.text-container h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #272727;
}
.text-container p {
    font-size: 14px;
    color: #27272794;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 12px;   
}
.text-container .btn {
    background-color: #E55473;
    border: none;
    padding: 12px 26px;
    color: white;
    border-radius: 6px;
}
.flower-img img{
    width: 500px;
    padding-right: 110px;
    position: relative;
    bottom: -81px;
}

/*----------Our Featured Flowers----------*/
.featured-text {
    text-align: center;
    padding-top: 140px;
}
.featured-text h3{
    font-size: 20px;
    font-weight: bolder;
    color: #272727;
}
.featured-text p {
    color: #272727a4;
    padding-top: 15px;
}
.card-1 {
    background-color: #e5547349;
    padding: 30px;
    width: 18%;
    border-radius: 500px 500px 0px 0px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 14px;
}
.card-2 {
    background-color: #49e4ec36;
    padding: 30px;
    width: 18%;
    border-radius: 500px 500px 0px 0px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 14px;
}
.card-3 {
    background-color: #9be94c34;
    padding: 30px;
    width: 18%;
    border-radius: 500px 500px 0px 0px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 14px;
}
.card-img img{
    width: 200px;
    margin-bottom: -34px;
    align-items: center;
}
.all-card {
    padding-bottom: 50px;
    display: flex;
    padding-left: 225px;
}
.Featured-Flowers {
    text-align: center;
}

/*----------Support section----------*/
.all-section {
    display: flex;
    padding: 22px;
    background-color: #27272718;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    margin-top: 60px;
    padding: 42px;
}
.all-section {
    text-align: center;
}
/*----------Offer section----------*/
.Offer-section {
    width: 91.30%;
    height: 35%;
    background-color: rgba(216, 169, 169, 0.212);
    padding: 60px;
    margin-bottom: 110px;
}
.text-and-flower {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-text {
    width: 40%;
    text-align: center;
}
.Right-Flower {
    width: 24%;
    text-align: left;
}
.Right-Flower img{
    width: 180px;
}
.left-text h2{
    color: #272727;
    padding-bottom: 12px;
}
.left-text span{
    color: #d32828;
}
.left-text p{
    color: #272727ad;
    padding-bottom: 22px;
}
.left-text .btn {
    background-color: #E55473;
    padding: 12px 19px;
    border: none;
    border-radius: 6px;
    color: white;
}

/*----------Instagram section----------*/
.cal-1 {
    text-align: center;
}
.cal-1 h2{
    padding-bottom: 12px;
}
.cal-1 p{
    color: #686868;
}
.img-1 img {
    width: 300px;
    padding-top: 52px;
}
.img-4 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    gap: 14px;
    padding-bottom: 90px;
} 

/*----------Email submit section----------*/
.cover-picter {
    height: 22vh;
    width: 70%;
    margin: auto;
    background-image: url(img/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 90px;
}
.cover-picter .text-ariya {
    text-align: center;
    position: relative;
    top: 40%;
    bottom: 40%;
}
.text-ariya h2{
    padding-bottom: 6px;
}
.text-ariya p{
    padding-bottom: 18px;
    font-size: 14px;
    color: rgb(124, 124, 124);
}
.email [type="text"] {
    padding: 10px 122px;
    border: none;
    border-radius: 4px;
}
.email .placeholder{
    text-align: right;
}
.email .submit {
    padding: 10px 26px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 4px;
}

/*----------Footer section----------*/
.Footer {
    background-color: black;
    padding: 90px;
    text-align: center;
    color: white;
}
.Footer span{
    color: #E55473;
}
.Footer h1{
    padding-bottom: 12px;
}
.Footer p{
    padding-bottom: 12px;
}
.Footer .footer-email {
    color: #b4b4b4;
}